 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 548px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1158px;
  margin: -34px -18px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 582px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 400;
  margin: 70px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.8;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 582px;
  background-image: url("images/esff-min2.jpg");
  background-position: 50% 50%;
  background-size: 105%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 10px 35px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 24px 17px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 472px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 362px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 52px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 440px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 17px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 37px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-image-1 {
    background-size: auto 105%;
    min-height: 277px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -262px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1459px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 96px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 3px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 74px;
  margin-bottom: 54px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 42px) calc(33.3333% - 42px) calc(33.3333% - 42px);
  min-height: 1134px;
  grid-gap: 63px 63px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 32px;
}

.u-section-2 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 32px;
}

.u-section-2 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 32px;
}

.u-section-2 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-2 .u-text-7 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 32px;
}

.u-section-2 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-2 .u-text-9 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px 32px;
}

.u-section-2 .u-icon-5 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-2 .u-text-11 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 32px;
}

.u-section-2 .u-icon-6 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-2 .u-text-13 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-14 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 30px 32px;
}

.u-section-2 .u-icon-7 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-2 .u-text-15 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-16 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px 32px;
}

.u-section-2 .u-icon-8 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-2 .u-text-17 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-18 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-9 {
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 30px 32px;
}

.u-section-2 .u-icon-9 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-2 .u-text-19 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-20 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 935px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(101, 74, 255) !important;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(101, 74, 255) !important;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(101, 74, 255) !important;
  }

  .u-section-2 .u-icon-5 {
    color: rgb(101, 74, 255) !important;
  }

  .u-section-2 .u-icon-6 {
    color: rgb(101, 74, 255) !important;
  }

  .u-section-2 .u-icon-7 {
    color: rgb(101, 74, 255) !important;
  }

  .u-section-2 .u-icon-8 {
    color: rgb(101, 74, 255) !important;
  }

  .u-section-2 .u-icon-9 {
    color: rgb(101, 74, 255) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 31.5px) calc(50% - 31.5px);
    min-height: 1790px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-18 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-20 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 807px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1056px;
  margin: 60px auto;
}

.u-section-3 .u-image-1 {
  min-height: 694px;
  background-image: url("images/muzeum_dopravy.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 694px;
}

.u-section-3 .u-container-layout-2 {
  padding: 50px 21px;
}

.u-section-3 .u-list-1 {
  width: 454px;
  grid-template-rows: auto auto auto;
  margin: 335px auto 0 39px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-style: normal;
  line-height: 1.8;
  font-weight: 700;
  margin: -135px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    min-height: 618px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 618px;
  }

  .u-section-3 .u-list-1 {
    width: 444px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 771px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: -31px;
  }

  .u-section-3 .u-image-1 {
    min-height: 565px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1232px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 832px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 30px 30px 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 11px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 524px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 356px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -316px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 539px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 2.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 57px 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 28px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 647px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 29px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 21px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 29px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 21px auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  margin: 29px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 21px auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  margin: 29px auto 0;
}

.u-section-4 .u-text-9 {
  margin: 21px auto 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  margin: 29px auto 0;
}

.u-section-4 .u-text-11 {
  margin: 21px auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  margin: 29px auto 0;
}

.u-section-4 .u-text-13 {
  margin: 21px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 533px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 919px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1724px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1843px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.03), rgba(0,0,0,0.03)), url("images/dfdfdfdfdfdfdf2.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 629px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 188px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 677px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1098px;
  margin: 60px 0 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 557px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 59px 23px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  font-style: normal;
  line-height: 1.8;
  font-weight: 700;
  margin: 95px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 557px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-image-1 {
  height: 358px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-6 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 477px;
  }

  .u-section-6 .u-image-1 {
    height: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 365px;
  }

  .u-section-6 .u-image-1 {
    height: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 529px;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 94px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-6 .u-image-1 {
    height: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 33px;
    margin-left: 37px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-6 .u-image-1 {
    height: 190px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 669px;
}

.u-section-7 .u-text-1 {
  letter-spacing: 4px;
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 76px auto 0;
}

.u-section-7 .u-form-1 {
  height: 315px;
  width: 570px;
  margin: 36px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-7 .u-line-1 {
  width: 100px;
  height: 10px;
  margin: 16px auto 0;
}

.u-section-7 .u-text-2 {
  width: 561px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-7 .u-form-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
  }

  .u-section-7 .u-form-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
}